@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .6rem solid rgba(0, 0, 0, .1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #eeee;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3.5rem;
    font-size: 3.5rem;
    color: var(--black);
}

.heading span {
    background: var(--orange);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 100%, 0% 100%, 7% 50%, 0% 0%);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border: .2rem solid var(--black);
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: var(--orange);
    color: #fff;
}

/* CSS HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i {
    color: var(--orange);
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 1rem 1rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--orange)
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eeee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover {
    background: var(--orange);
    color: #fff;
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label {
    font-size: 2.2.rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--orange);
}

.header .login-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.header .login-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .login-form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box {
    width: 100%;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.header .login-form p {
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);
}

.header .login-form p a {
    color: var(--orange);
    text-decoration: underline;
}
/* AKHIR CSS HEADER */

/* JUDUL */
#beritaTerkini {
    padding: 20px 0 5px 0;
}

/*  PENGATURAN GRID BERITA LAINNYA & BERITA TERBARU */
#beritaTerkini .judul {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    margin-top: 100px;
    color: #F97B22;
}

.hot {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.lain, .posBaru {
    flex-basis: 25% 70%;       /*  Sesuaikan lebar sesuai kebutuhan  */
    box-sizing: border-box;    /*  Pastikan padding tidak mempengaruhi lebar  */
    text-align: center;
}

/* BERITA LAINNYA */
.lain {
    width: 30%;
    background-color: #cdd5f980;
    margin-left: 10%;    /*  Menambahkan sedikit jarak di antara elemen  */
}

.tanggal {
    border-bottom: 1px solid #ccc;    /*  Garis pemisah antar berita  */
}

.tanggal h3 {
    font-size: 10px;
    margin: 9%;
}

.tanggal img {
    width: 100%;
    height: auto;
    filter: contrast(85%);
}

.tanggal img:hover {
    filter: contrast(105%);
}

.tanggal p {
    font-size: 8px;
    margin-bottom: 10px;
}

.medsos {
    border: 1px solid #ccc;    /* Garis pemisah antar elemen */
    padding: 10px;     /* Ruang dalam berita */
}

.medsos h3 {
    font-size: 20px;
}

.isiMedsos a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    font-size: 24px;
}
/* AKHIR BERITA LAINNYA */

/* BERITA TERBARU */
.posBaru {
    background-color: rgba(160, 184, 217, 0.518);
    margin-right: 13%;      /* Menambahkan sedikit jarak di antara elemen  */
}

.judulBerita h5 {
    font-size: 30px;
    text-align: center;
    margin-right: 13%;
    color: #ff7800;
    background-color: #c7c9e380;
}

.posBaru img {
    width: 80%;
    filter: contrast(85%);
    margin-top: 5%;
}

.posBaru img:hover {
    filter: contrast(105%);
}

.posBaru h2, .posBaru p {
    margin: 1,5%;
}

.button a {
    text-decoration: none;
    color: blue;
    padding: 3px 6px;
    font-size: 8px;
}

.fab {
    font-size: 20px;
}
/* AKHIR BERITA TERBARU */

/*  BERITA  */

.Berita {
    width: 280px;
    text-align: center;
    padding: 10px 5px 10px;
    margin: 10px 10px 10px 55px;
    border-radius: 10px;
    float: left;
}

.Berita>img {
    display: block;
    width: 100%;
    max-width: 500px;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 16px 16px 0 0;
    filter: contrast(85%);
    transition: all 0.6s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.Berita>img:hover {
    filter: contrast(105%);
}

.content {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 10px;
    color: #27005D;
}

.content>p {
    font-size: 1.6rem;
    margin-bottom: 10px;
    margin-bottom: 10px;
    color: #1e40af;
}

.content>p:nth-child(1) {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #1e40af;
}

.content>p:nth-child(2) {
    font-size: 1rem;
    font-weight: 400;
     color: black;
} 
/* AKHIR BERITA */
